//Variables

$primary-color: #4D4C72;
$secondary-color: #7477BF;

html, body {
    margin: 0;
    height: 100%;
    overflow: auto;

}

.container{
	display: flex;
	flex-direction: column;
	height: 100%;

}
// Grid
.grid-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2px;
}

.col--12{
	width: 100%;
	border: solid 1px blue;
	height: 200px
}
.col--6{
	width: 100%;
	border: solid 1px red;
	height: 200px
	margin-top: 2px;

}

@media (min-width: 900px){
	.col--6{
		width: 49.5%;
	}
}

// Header
.header{
	height: 70px;
	width: 100%;
	background-color: $secondary-color;
	position: fixed;
}


.dashboard-wrapper{
	display: flex;
	flex-direction: row;
	margin-top: 70px;
	
}

// Nav Bar
.nav-bar{
	display: flex;
	flex-directon: column;
	width: 75px;
	height: 1200px;
	background-color:$primary-color;
	overflow: hidden;
	justify-content: center;
}
nav{
	width: 100%;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.small-icon{
	width: 30px;
	margin: 40px auto;
	display: block;
}



.dashboard{
	flex-grow: 2;
	height: 100%;
}



