//Variables

$primary-color: #4D4C72;
$secondary-color: #7477BF;
$highlight-green: #88D883;


$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #111;


@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
$font-regular: 500;
$font-thin: 300;

*{
	font-family: Roboto, Arial;
	font-weight: $font-regular;
	color: $scorpion;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
    background-color: $primary-color;

}

.container{
	display: flex;
	flex-direction: column;
	height: 100%;

}
// Grid
.grid-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.col--12{
	width: 100%;
	border-bottom: solid 1px $silver-chalice;
	
}
.col--6{
	width: 100%;
	border-bottom: solid 1px $silver-chalice;
	border-right: solid 1px $silver-chalice;
	height: 200px;

}

@media (min-width: 900px){
	.col--6{
		width: 49.5%;
	}
}

// Header
.header{
	min-height: 80px;
	width: 100%;
	background-color: $secondary-color;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.profile-menu{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile-menu p{
	color: white;
	font-weight: $font-thin;


}

.profile-menu{
	marign: 0 15px;
}

.header-notification{
	width: 25px;
	margin: 0 20px;
	padding-right: 10px;
	border-right: 1px solid black;
}

.img-avatar{
	width: 40px;
	border-radius: 50%;
}







// 

.dashboard-wrapper{
	display: flex;
	flex-direction: row;
}

// Nav Bar
.nav-bar{
	display: flex;
	flex-directon: column;
	width: 75px;
	background-color:$primary-color;
	overflow: hidden;
	justify-content: center;
}
nav{
	width: 100%;

}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

nav ul li{
	border-left: solid 4px transparent;
	padding: 1px 0;

}

nav ul li:hover{
	border-left: solid 4px $highlight-green;
	border-radius: 3px;
	cursor: pointer;
}


.nav-icon{
	width: 30px;
	margin: 20px auto;
	display: block;
	opacity: 0.5;
}
.nav-icon:hover{
	opacity: 1;
}

// Panel 

.dash--panel{
	
	margin: 30px;
}
.dash--title{
	font-weight: $font-thin;
	text-transform: uppercase;
	font-size: 16px;
}



// Social

.social--panel{
	border: solid 1px grey;
	border-radius: 5px;
	width: 30%;
	height: 8em;

}

.social--panel__container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}




.dashboard{
	flex-grow: 2;
	height: 100%;
	background-color: white;
}







